language: python
python:
  #  - "3.5"
  - "3.6"

install:
  - pip install -r req.txt

script:
  - python -m unittest discover -v -s test -p "*.py"
  - python -O -m unittest discover -v -s test -p "*.py"
